data/raw/*
data/processed/*
*.zip
*.tar.gz
*.csv

!data/raw/.gitkeep
!data/processed/.gitkeep

*.pt
*.pth
*.ckpt

runs/
wandb/
lightning_logs/

__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
.conda/

.env
.env.*

.ipynb_checkpoints/

.vscode/

.DS_Store
Thumbs.db
*~